<div class="banner mb-3">

  <h1 class="text-center py-5">Mister Cocktail</h1>
</div>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-lg-4 my-1">
        <div class="card">
          <h3><%= link_to cocktail.name, cocktail %></h3>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to new_cocktail_path, class: 'btn btn-primary btn-add' do %>
    <i class="fas fa-plus"></i>
  <% end %>
</div>